.container {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 600px;
  margin: 20px auto;
}

.container button {
  padding: 10px 15px;
  font-size: 2rem;
  background-color: rgba(0, 0, 255, 0.4);
  border: 0;
  outline: 0;
  border-radius: 10px;
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;

}

.container button:hover {
  background-color: rgba(8, 8, 80, 0.568);
 margin-top: 10px;

}